# Python 기본
__pycache__/
*.pyc
*.pyo
*.pyd

# 주가 데이터 무시
data/raw/
data/processed/

# 뉴스 데이터 무시
debug/
news_major/

# 로그/캐시 무시
logs/
cache/
scripts/__pycache__/

# pytorch test
tests/test_pytorch.py

# 환경설정 무시
